# fly.toml app configuration file generated for triptic-daveey on 2025-12-04T19:12:47-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'triptic-daveey'
primary_region = 'sjc'

[build]

[env]
  PORT = '8080'

[[mounts]]
  source = 'triptic_data'
  destination = '/data'
  initial_size = '3gb'

[http_service]
  internal_port = 8080
  force_https = false
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

  [[http_service.checks]]
    interval = '30s'
    timeout = '10s'
    grace_period = '30s'
    method = 'GET'
    path = '/index.html'

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
  cpus = 1
